<?xml version="1.0"?>
<robot name="puzzlebot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find puzzlebot_description)/urdf/macros.xacro" />
  <xacro:include filename="$(find puzzlebot_description)/urdf/robot_base.xacro" />
  <xacro:include filename="$(find puzzlebot_description)/urdf/wheels.xacro" />
  <xacro:include filename="$(find puzzlebot_description)/urdf/sensors.xacro" />
  <link name="base_footprint" />

  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
 

  <xacro:robot_base />
  <xacro:puzzlebot_wheels />
  <xacro:puzzlebot_sensors />
</robot>