<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="puzzlebot">

    <xacro:arg name="prefix" default="" />

    <xacro:include filename="$(find puzzlebot_description)/urdf/puzzlebot.urdf.xacro"/>
    <xacro:include filename="$(find puzzlebot_description)/urdf/puzzlebot_control.xacro"/>

    <xacro:puzzlebot_control prefix="$(arg prefix)"/>

</robot> 