<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="puzzlebot_wheels" params="wheel_radius:=0.033 wheel_width:=0.012 wheel_separation:=0.16 wheel_drop:=0.03 wheel_mass:=0.08 caster_x:=-0.08 caster_radius:=0.015 caster_mass:=0.02 mesh_scale:=0.001">
    <link name="left_wheel_link">
      <visual>
        <origin xyz="0 0 0" rpy="1.5708 0 0" />
        <geometry>
          <mesh filename="package://puzzlebot_description/meshes/Puzzlebot_Wheel.stl"
                scale="${mesh_scale} ${mesh_scale} ${mesh_scale}" />
        </geometry>
        <material name="black">
          <color rgba="0.05 0.05 0.05 1.0" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="1.5708 0 0" />
        <geometry>
          <mesh filename="package://puzzlebot_description/meshes/Puzzlebot_Wheel.stl"
                scale="${mesh_scale} ${mesh_scale} ${mesh_scale}" />
        </geometry>
      </collision>
      <xacro:cylinder_inertial mass="${wheel_mass}" radius="${wheel_radius}" length="${wheel_width}" />
    </link>

    <joint name="left_wheel_joint" type="continuous">
      <parent link="base_link" />
      <child link="left_wheel_link" />
      <origin xyz="0 ${wheel_separation / 2.0} -${wheel_drop}" rpy="0 0 0" />
      <axis xyz="0 1 0" />
    </joint>

    <link name="right_wheel_link">
      <visual>
        <origin xyz="0 0 0" rpy="1.5708 0 0" />
        <geometry>
          <mesh filename="package://puzzlebot_description/meshes/Puzzlebot_Wheel.stl"
                scale="${mesh_scale} ${mesh_scale} ${mesh_scale}" />
        </geometry>
        <material name="black">
          <color rgba="0.05 0.05 0.05 1.0" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="1.5708 0 0" />
        <geometry>
          <mesh filename="package://puzzlebot_description/meshes/Puzzlebot_Wheel.stl"
                scale="${mesh_scale} ${mesh_scale} ${mesh_scale}" />
        </geometry>
      </collision>
      <xacro:cylinder_inertial mass="${wheel_mass}" radius="${wheel_radius}" length="${wheel_width}" />
    </link>

    <joint name="right_wheel_joint" type="continuous">
      <parent link="base_link" />
      <child link="right_wheel_link" />
      <origin xyz="0 -${wheel_separation / 2.0} -${wheel_drop}" rpy="0 0 0" />
      <axis xyz="0 1 0" />
    </joint>

    <link name="caster_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://puzzlebot_description/meshes/Puzzlebot_Caster_Wheel.stl"
                scale="${mesh_scale} ${mesh_scale} ${mesh_scale}" />
        </geometry>
        <material name="dark_gray">
          <color rgba="0.2 0.2 0.2 1.0" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://puzzlebot_description/meshes/Puzzlebot_Caster_Wheel.stl"
                scale="${mesh_scale} ${mesh_scale} ${mesh_scale}" />
        </geometry>
      </collision>
      <xacro:sphere_inertial mass="${caster_mass}" radius="${caster_radius}" />
    </link>

    <joint name="caster_joint" type="fixed">
      <parent link="base_link" />
      <child link="caster_link" />
      <origin xyz="${caster_x} 0 -${wheel_drop}" rpy="0 0 0" />
    </joint>
  </xacro:macro>
</robot>